/* common shared styles */

body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

.btn-primary {
  border-radius: 5px;
  background: #fff;
  color: #005fac;
  text-align: right;
  font-size: 20px;
  border: none;
  padding: 12px 22px;
  cursor: pointer;
}

/* Header section */

.header {
  display: flex;
  background-image: url("./images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: right;
  align-items: center;
  height: 808px;
}

.header-content {
  padding: 120px 90px 100px 100px;
}

.home-title {
  color: #fff;
  text-align: right;
  font-size: 65px;
  margin-bottom: 15px;
}

.home-disc {
  color: #fff;
  text-align: right;
  width: 490px;
  font-family: Work Sans;
  font-size: 16px;
  margin-top: 0;
  padding-bottom: 10px;
}

.btn-align {
  text-align: right;
}

/* Second Part */

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 100px;
}

.photo {
  width: 400px;
}

.text-title {
  color: #151414;
  font-size: 40px;
  width: 288px;
  margin-bottom: 20px;
}

.text-disc {
  color: #444343;
  width: 416px;
  font-size: 15px;
}

li {
  color: #444343;
  font-size: 14px;
  list-style: none;
}

li:not(:last-child){
    margin-bottom: 5px;

}

li:before{
    content: "\2714";
    padding-right: 6px;
    color: #16D887;
}

/* My plan */

.plan-title {
  font-size: 35px;
  margin-top: 55px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px 180px;
}

.card {
  text-align: center;
}

.card-title {
  color: #151414;
  text-align: center;
  font-size: 20px;
}

.card-info {
  color: #737272;
  text-align: center;
  font-family: Work Sans;
  font-size: 17px;
}

/* photo bg */

.img-bg {
  background: linear-gradient(rgba(23, 12, 228, 0.866),rgba(8, 49, 199, 0.088)),url("./images/watch.png");
  background-repeat: no-repeat;
  
  width: 1140px;
  height: 250px;
  margin: 70px 200px;
  border-radius: 10px;
}
.image-disc{
    padding: 42px ;
}

.photo-title {
  color: #fff;
  width: 459px;
  font-size: 30px;
  
}
